@custom-media --viewport-medium (max-width: 900px);
@custom-media --viewport-small (max-width: 680px);


@mixin small-screen-breakpoint {
  @media only screen and (max-width: 61.25rem) {
    @content;
  }
}


@mixin flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-align ($pos) {
  align-items: $pos;
  -webkit-align-items: $pos;
  -webkit-box-align: $pos;
  -ms-flex-align: $pos;
}

@mixin flex-justify ($pos) {
  justify-content: $pos;
  -webkit-justify-content: $pos;
  -webkit-box-pack: $pos;
  -ms-flex-pack: $pos;
}


@mixin transition ($c) {
  transition: $c;
  -webkit-transition: $c;
  -moz-transition: $c;
}


@mixin hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin no-hover {
  @media (hover: none) {
    @content;
  }
}